{% extends 'web/base.html' %}
{% block content %}
{% load static %}

    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                  <li aria-current="page" class="breadcrumb-item active">Liên hệ</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-12">
              <div id="contact" class="box">
                <h1>Liên hệ</h1>
                <p class="lead">Bạn có điều cần tìm hiểu về sản phẩm ? Bạn có vấn đề gì về sản phẩm của chúng tôi?</p>
                <p>Xin hãy liên hệ với chúng tôi, Trung tâm dịch vụ của chúng tôi hoạt động 24/7.</p>
                <hr>
                <div class="row">
                  <div class="col-md-4">
                    <h3><i class="fa fa-map-marker"></i>Địa chỉ</h3>
                    <p>69/96 Cau Giay<br>Cau Giay,<br>Ha Noi,<br>Viet Nam.<br><strong>Viet Nam</strong></p>
                  </div>
                  <!-- /.col-sm-4-->
                  <div class="col-md-4">
                    <h3><i class="fa fa-phone"></i>Số điện thoại hỗ trợ</h3>
                    <p class="text-muted"> Số này miễn phí nếu gọi từ Việt Nam, nếu không chúng tôi khuyên bạn nên sử dụng hình thức liên lạc qua email.</p>
                    <p><strong>+84 555 444 333</strong></p>
                  </div>
                  <!-- /.col-sm-4-->
                  <div class="col-md-4">
                    <h3><i class="fa fa-envelope"></i> Hỗ trợ trực tuyến</h3>
                    <p class="text-muted">Vui lòng viết email cho chung tôi theo địa chỉ:.</p>
                    <ul>
                      <li><strong><a href="#">Amazing@shop.com.vn</a></strong></li>
                    </ul>
                  </div>
                  <!-- /.col-sm-4-->
                </div>
                <!-- /.row-->
                <hr>
                <div ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0746468752786!2d105.79732321440731!3d21.029698993123333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab46aa81720f%3A0x9159f25cac4d304f!2zNjkgQ-G6p3UgR2nhuqV5LCBZw6puIEhvw6AsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1607827305217!5m2!1svi!2s" width="1030" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
                <hr>
              </div>
            </div>
            <!-- /.col-md-9-->
            
          </div>
        </div>
      </div>
    </div>

{% endblock content %}