{% extends 'my_admin/base.html' %}
{% block content %}

      <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Bảng thông tin đơn hàng</h2>
          </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'views_admin' %}">Home</a></li>
            <li class="breadcrumb-item active">Thông tin đơn hàng</li>
          </ul>
        </div>
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="block">
              <div class="title"><strong>Bảng thông tin đơn hàng</strong></div>
                <div class="table-responsive">
                  <table id="datatable1" style="width: 100%;" class="table">
                    <thead>
                      <tr>
                        <th>Order</th>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Pays</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for item in obj %}
                      <tr>
                        <td>#{{item.id}}</td>
                        <td>{{item.user.username}}</td>
                        <td>${{item.total}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.pays}}</td>
                        <td>
                          <a href="{% url 'cancel_order' item.id %}" class="btn btn-primary"><i class="fa fa-trash"></i></a>
                          <a href="" class="btn btn-info show-order" data-url="{% url 'show_order' item.id %}" data-toggle="modal" data-target="#modal-info"><i class="fa fa-eye"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </section>
        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
              <p class="no-margin-bottom">2020 &copy; Your company. </p>
            </div>
          </div>
        </footer>


{% endblock content %}