
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Trang</h4>
            <ul class="list-unstyled">
              <li><a href="{% url 'home' %}">Trang chủ</a></li>
              <li><a href="{% url 'categories' %}">Danh mục</a></li>
              <li><a href="{% url 'product' %}">Sản phẩm</a></li>
              <li><a href="{% url 'contact' %}">Liên hệ</a></li>
              <li><a href="{% url 'logout_admin' %}">Trang quản trị</a></li>
            </ul>
            <hr>
            <h4 class="mb-3">Khách hàng</h4>
            <ul class="list-unstyled">
              <li><a href="{% url 'register_login' %}">Đăng nhập</a></li>
              <li><a href="{% url 'register_login' %}">Đăng ký</a></li>
            </ul>
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Danh mục</h4>
            <h5>Khăn quàng cổ nữ</h5>
            <ul class="list-unstyled">
              <li><a href="{% url 'categories' %}">Khăn lụa</a></li>
              <li><a href="{% url 'categories' %}">Khăn len</a></li>
              <li><a href="{% url 'categories' %}">Khăn cashmere</a></li>
              <li><a href="{% url 'categories' %}">Khăn len lông cừu</a></li>
              <li><a href="{% url 'categories' %}">Khăn vuông</a></li>
            </ul>
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Địa chỉ chúng tôi</h4>
            <p><strong>Amazing Ltd.</strong><br>69/96 Cau Giay<br>Cau Giay<br>Ha Noi<br>Viet Nam<br>
            <hr class="d-block d-md-none">
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
    <!--        <h4 class="mb-3">Get the news</h4>
            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <form>
              <div class="input-group">
                <input type="text" class="form-control"><span class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">Subscribe!</button></span>
              </div>
              &lt;!&ndash; /input-group&ndash;&gt;
            </form>-->
            <hr>
            <h4 class="mb-3">Liên kết</h4>
            <p class="social"><a href="#" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a></p>
          </div>
          <!-- /.col-lg-3-->
        </div>
        <!-- /.row-->
      </div>
      <!-- /.container-->
    </div>
    <!-- /#footer-->
    <!-- *** FOOTER END ***-->
