
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Danh Mục</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    <li><a href="{% url 'categories' %}" class="nav-link active">Khăn quàng cổ nữ </a>
                      <ul class="list-unstyled">
                        {% for category in categories %}
                        <li><a href="{% url 'shows_categories' category.id %}" class="nav-link">{{category.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>