            <div class="col-lg-3">
              <!--
              *** CUSTOMER MENU ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">Danh mục</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                      <a href="{% url 'account' %}" class="nav-link active"><i class="fa fa-user"></i> Tải khoản</a>
                      <a href="{% url 'acc_orders' %}" class="nav-link "><i class="fa fa-list"></i> Đơn hàng </a>
                      <a href="{% url 'wish_list' %}" class="nav-link "><i class="fa fa-heart"></i> Yêu thích </a>
                      <a href="{% url 'logout_home' %}" class="nav-link"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                  </ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>